
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';

* {
  color: #464547;
  font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header .sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
header .navbar {
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}
header .hamburger-checkbox {
  display: none;
}
header .hamburger-checkbox:checked ~ #main-nav {
  display: flex;
}
header #main-nav {
  list-style-type: none;
  display: none;
  flex-direction: column;
}
header #main-nav li {
  text-align: center;
  margin: 15px auto;
  width: 100%;
}
header #main-nav .nav-active {
  color: white;
}
header .nav-links {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
header .nav-links:hover {
  color: black;
}
header .fa-caret-down, header .fa-caret-up {
  margin-left: 5px;
  font-size: 12px;
}
header #logo {
  text-decoration: none;
  color: #464547;
  background-color: #ffc917;
  padding: 1vh;
  transition: font-weight ease-out;
}
header #logo:hover {
  font-weight: bold;
}
header #logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
}
header #navbar-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
header #navbar-toggle:hover {
  color: white;
}
header .dropdown-content {
  display: none;
  position: relative;
  margin-top: 15px;
  background-color: #f3f3f3;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
header .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .dropdown-content a:hover {
  background-color: #ffc917;
}
header .dropdown-content a:active {
  background-color: #ffae00;
  color: #fff;
  font-weight: bold;
}
header .nav-drop:hover .dropdown-content {
  display: block;
}
@media screen and (min-width: 950px) {
  header .dropdown-content {
    position: absolute;
    width: auto;
    margin-top: 15px;
    min-width: 160px;
    z-index: 1;
  }
  header #logo {
    margin-top: 0;
    margin-left: 10%;
  }
  header .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 60px;
    align-items: center;
  }
  header #main-nav {
    display: flex;
    margin-right: 10%;
    flex-direction: row;
    justify-content: flex-end;
  }
  header #main-nav li {
    width: auto;
    margin: 0;
  }
  header .nav-links {
    margin-left: 30px;
    padding: 14px 2px;
  }
  header .nav-links span {
    background-color: #ffc917;
    padding: .5vh;
    border-radius: 100%;
  }
  header .nav-links:hover {
    border-bottom: 4px solid white;
  }
  header #navbar-toggle {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  header #logo {
    margin-left: 20%;
  }
  header #main-nav {
    margin-right: 20%;
  }
  .container div{
    display: block;
  }
}




@media screen and (max-width: 1000px) {

  .text-cont {
  margin-top: 15vh;
  margin-left: 5%;
}
// ***********************************************************************************************************************
}


.wrapper {
  overflow:hidden;
}

.wrapper div {
   min-height: 400px;
   padding: 10px;
}
#one {
  float:left;
  width:40vw;
  height: 75vh;
  background: linear-gradient(-45deg, #464547 0%, #000000 100%);
}
#two {
  height: 75vh;
  overflow:hidden;
  background-image: url(homepagebg.jpg);
}

@media screen and (max-width: 1200px) {
   #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;
  }


}




.text-cont {
  margin-top: 15vh;
  margin-left: 25%;
}

.text-cont span {
  color: #fff;
  text-transform: uppercase;
  font-size: 3.25rem;
}
#small-txt {
  color: #ffc917;
  font-size: 1.2rem;
}
#login {
  color: #fff;
  font-size: 1.2rem;
  margin-left: 20vh;
  cursor: pointer;
}

/* ************************************************ */


.bubbly-button {
  display: inline-block;
  font-size: 1em;
  padding: 2em 10em;
  margin-top: 1vh;
  margin-bottom: 1vh;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffae00;
  color: #fff;

  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 174, 0, 0.5);

}
.bubbly-button * {
  color: #fff;
}
.bubbly-button:active * {
  color: #464547;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ffae00 20%, transparent 30%), radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffae00 15%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;

}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffae00 15%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%), radial-gradient(circle, #ffae00 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #ff8e00;
  color: #464547;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button:hover:before {
  display: block;
  animation: topBubbles ease-in-out 750ms forwards;
}
.bubbly-button:hover:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}




@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}


/* ************************************************ */



.team h1,
.team h2,
.team h3,
.team h4,
.team h5,
.team h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  color: #ffc917;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

.team a:link,
.team a:active,
.team a:visited{
  color:rgba(255,255,255,1);
}

.team a:hover{
  color:rgba(255,255,255,0.6);
}

.gray {
  color: #a5a5a5;
}

.team{
  margin:40px;
}

.team-member {
  margin: 15px 0;
  padding: 0;
}

.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.team-member figure img {
  min-width: 100%;
}

.team-member figcaption p {
  font-size: 16px;
}

.team-member figcaption ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member figcaption ul {
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
  display: inline-block;
  padding: 10px;
}

.team-member h4 {
  margin: 10px 0 0;
  padding: 0;
}

.team-member figcaption {
  padding: 50px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background: #ffc917;
  /* Primary color, can be changed via colors.css */

  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
  color: rgba(49, 49, 49, .97);
}

.team-member figure img {
  -webkit-transform: scale(1) rotate(0) translateY(0);
  -moz-transform: scale(1) rotate(0) translateY(0);
  -o-transform: scale(1) rotate(0) translateY(0);
  -ms-transform: scale(1) rotate(0) translateY(0);
  transform: scale(1) rotate(0) translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
  -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
  -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
  -o-transform: scale(1.1) rotate(1deg) translateY(12px);
  -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
  transform: scale(1.1) rotate(1deg) translateY(12px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


// fooooooooooooooooooooooooooooter 


footer {
 
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  
}

.container-foo {
   background-color: #202020;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.colum-1 {
  width: 400px;
}

.colum-1 h1 {
  color: #ffc917;
  font-size: 22px;
}

.colum-1 p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.colum-2 {
  width: 400px;
  margin-left: 20px;
}

.colum-2 h1 {
  color: #ffc917;
  font-size: 22px;
}

.row {
  display: flex;
  margin-top: 20px;
  color: #fff;
}

.row i {
  font-size: 3rem;
}

.row label {
  margin-top: 5px;
  margin-left: 15px;
  color: #C7C7C7;
}

.colum-3 {
  width: 400px;
}

.colum-3 h1 {
  color: #ffc917;
  font-size: 22px;
}

.row2 {
  display: flex;
  margin-top: 20px;
}

.row2 i {
  font-size: 3rem;
}

.row2 label {
  margin-left: 20px;
  color: #C7C7C7;
}

.footer-end {
  max-width: 100%;
  background-color: #101010;
  color: #C7C7C7;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.footer-end a {
  color: #fff;
  text-decoration: none; 
  font-weight: bold;
}

.information a {
  color: #C7C7C7;
}


@media screen and (max-width: 590px) { .team {
  display: none;
  }}

@media screen and (max-width: 1280px) { .mailList {
  display: none;
  }}

@media screen and (max-width: 1100px) {
  .container-footer {
  flex-wrap: wrap;
}
  .colum-2,
  .colum-3 {
    margin-top: 40px;
  }

  .mailboxContainer {
  background: #ffc917;
  font-family: 'Lato', sans-serif;
  color: #464547;
  text-align: left;
}


 .mailboxContainer form {
  width: 450px;
  margin: 0;
  padding: 0vh;
}


#emailarea {
  width: 40%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;

}

.btnActions input { display: block; }

.words {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: 0;
}
}


.mailboxContainer {
  background-color: #ffc917;
  color: #464547;
  text-align: center;
}


form {
  width: 50vw;
  margin: 0 auto;
  padding: 15vh;
}


.titleName {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0px 0px 5px gray;
}


.words {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.btnActions {
  display: flex;
  align-items: center;
}


.mail-btn {
  height: 44px;
  border: none;
}

  
#emailarea {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#done-btn {
  width: 25%;
  height: 46px;
  background: rgba(255, 174, 0, 0.5);
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
  box-shadow: 0px 0px 5px gray;
}
  

#done-btn:hover {
  background: rgba(255, 174, 0, 1);
}
  

.btnActions input:focus {
  outline: none;
  outline: 2px solid rgba(255, 174, 0, 0.5);
  box-shadow: 0 0 8px rgba(255, 174, 0, 0.5);
}

